@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    color: #1e1c1c;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  h2 {
    color: #1e1c1c;
    font-size: 45px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  h3 {
    color: #1e1c1c;
    font-size: 40px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  h4 {
    color: #1e1c1c;
    font-size: 24px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  h5 {
    color: #1e1c1c;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }
  p {
    color: #1e1c1c;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
  }
  a {
    color: #1e1c1c;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: underline;
  }
  .background-color {
    background-color: #f8f5ee;
  }
  .background-color-footer {
    background-color: #364c28;
  }


  @media (max-width: 768px) {
    p {
      color: #1e1c1c;
      font-size: 14px;
      font-family: Helvetica, Arial, sans-serif;
    }
    h2 {
      color: #1e1c1c;
      font-size: 30px;
      font-family: "Roboto Mono", monospace;
    }
    h3 {
      color: #1e1c1c;
      font-size: 25px;
      font-family: "Roboto Mono", monospace;
  }
  h4 {
    color: #1e1c1c;
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
}
}
  }

  body {
    cursor: url('/public/digitaloprydning/mouse.png'), auto;
  }
  
  a, button, .clickable {
    cursor: url('/public/digitaloprydning/finger.png'), pointer; /* Specifik markør for klikbare elementer */
  }