---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Banner from "../components/Banner.astro";
---

<MainLayout title="Digital skraldedag">
  <!-- hero -->
  <div class="relative mt-32 w-full h-auto min-h-[300px] md:min-h-[500px]">
    <img
      src="/public/indexhero/heroimage.webp"
      alt="pixel billede"
      class="w-full h-auto min-h-[300px] md:min-h-[500px] object-cover"
    />
    <div class="absolute inset-0 flex flex-col justify-center p-6 space-y-6">
      <h4 class="text-[#f8f5ee] text-lg md:text-2xl">Gør dig klar til</h4>
      <img
        class="w-1/2 md:w-[500px]"
        src="/public/indexhero/digital.svg"
        alt="digital"
      />
      <img
        class="w-1/2 md:w-[700px]"
        src="/public/indexhero/skraldedag.svg"
        alt="digital"
      />
      <h4 class="text-[#f8f5ee] text-lg md:text-2xl">
        Tid til at rydde op - byte for byte!
      </h4>
    </div>
  </div>

  <!--    Første banner -->
  <Banner text="Sæt kryds i kalenderen d. 15.09.25" />

  <!-- Hvad er digital skrald? -->
  <section class="p-6 pb-16 m-6">
    <h2 class="lg:mx-20 pb-12">Hvad er digital skrald?</h2>
    <div
      class="grid lg:grid-cols-3 gap-8 lg:gap-20 max-w-screen-xl mx-auto"
    >
      <!-- forældede filer  -->

      <div class="flex flex-col space-y-9 border border-black p-8 items-center">
        <img
          class="w-[80px] h-[80px] md:w-[100px] md:h-[100px] object-contain"
          src="/public/hvader/old-file.svg"
          alt="gammel fil"
        />
        <div class="max-w-sm space-y-6">
          <h4 class="">Forældede filer</h4>
          <p>
            Forældede filer er dokumenter, billeder, programmer eller data, der
            ikke længere er relevante eller nødvendige for dig. Det kan f.eks.
            være gamle projekter og præsentationer fra tidligere skole- eller
            arbejdsopgaver.
          </p>
        </div>
      </div>

      <!-- Unødvendige e-mails  -->
      <div class="flex flex-col space-y-6 border border-black p-8 items-center">
        <img
          class="w-[80px] h-[80px] md:w-[100px] md:h-[100px] object-contain"
          src="/public/hvader/shredded-mail.svg"
          alt="Ødelagt Mail"
        />
        <div class="max-w-sm space-y-6">
          <h4>
            Unødvendige <br />
            e-mails
          </h4>
          <p>
            Når det kommer til at rydde op i din e-mailindbakke, er det vigtigt
            at fjerne unødvendige beskeder. Det er en god idé at slette, og
            afmelde dig fra nyhedsbreve, som du ikke benytter. Andre reklamer i
            spam, er også skrald i din indbakke, især dem med vedhæftede filer.
          </p>
        </div>
      </div>

      <!-- Ubenyttede applikationer -->
      <div class="flex flex-col space-y-6 border border-black p-8 items-center">
        <img
          class="w-[80px] h-[80px] md:w-[100px] md:h-[100px] object-contain"
          src="/public/hvader/mobil.svg"
          alt="Smartphone"
        />
        <div class="max-w-sm space-y-6">
          <h4>Ubenyttede applikationer</h4>
          <p>
            Mange installerer apps, der kun bruges en kort periode, som fx spil
            eller rejseapps er digital skrald hvis du ikke får dem brugt. Det
            kan også være downloadede videoer og sange du har set eller hørt.
            Hvis du ikke skal bruge dem igen, er det mest bæredygtigt at
            afinstallere dine downloads.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Andet banner (indsæt tag til at dele URL) -->
  <a class="no-underline" href="#">
    <Banner text="Inviter en ven her" />
  </a>

  <!-- Problemer med dit digitale skrald -->
  <div class="w-full h-auto min-h-[300px] md:min-h-[500px]">
    <img class="" src="/public/indexhero/heroimage.webp" alt="pixel billede" />
    <!-- indhild -->

    <div class="grid md:grid-cols-5 items-center justify-center">
      <!-- co2 -->
      <div class="flex flex-col items-center justify-center gap-6 p-4">
        <img
          class="w-[100px] h-[100px] md:w-[120px] md:h-[120px] object-fit"
          src="/public/problemermedskrald/co2.svg"
          alt="c02"
        />
        <p class="text-center">
          Energien, der bruges i datacentre, bidrager til øget CO2-udledning.
        </p>
      </div>

      <!-- telefon -->
      <div class="flex flex-col items-center justify-center gap-6 p-4">
        <img
          class="w-[100px] h-[100px] md:w-[120px] md:h-[120px] object-fit"
          src="/public/problemermedskrald/mobile-frame.svg"
          alt="c02"
        />
        <p class="text-center">
          Digitalt skrald er med til at forkorte levetiden for dine enheder.
        </p>
      </div>

      <!-- mappe -->
      <div class="flex flex-col items-center justify-center gap-6 p-4">
        <img
          class="w-[100px] h-[100px] md:w-[120px] md:h-[120px] object-fit"
          src="/public/problemermedskrald/fast-file.svg"
          alt="c02"
        />
        <p class="text-center">
          Det gør at filer og informationer bliver langsommere at finde eller
          dele.
        </p>
      </div>

      <!-- nøgle -->
      <div class="flex flex-col items-center justify-center gap-6 p-4">
        <img
          class="w-[100px] h-[100px] md:w-[120px] md:h-[120px] object-fit"
          src="/public/problemermedskrald/lock.svg"
          alt="c02"
        />
        <p class="text-center">
          Det forhøjer sikkerhedsrisici ved datalagring.
        </p>
      </div>

      <!-- floppy-disk -->
      <div class="flex flex-col items-center justify-center gap-6 p-4">
        <img
          class="w-[100px] h-[100px] md:w-[120px] md:h-[120px] object-fit"
          src="/public/problemermedskrald/floppy-disk.svg"
          alt="c02"
        />
        <p class="text-center">
          Det reducerer disk & server kapacitets-omkostninger.
        </p>
      </div>
    </div>
  </div>

  <!-- tredje banner ()-->
  <a class="no-underline" href="/bidrag">
    <Banner text="registrer dit bidrag her" />
  </a>

  <!-- Vidste du -->
  <section class="p-6 pb-16 ">
    <h2 class="lg:mx-20 pb-12">Vidste du at</h2>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-8 lg:gap-20 max-w-screen-lg mx-auto"
    >
      <!-- card 1 -->

      <div
        class="flex flex-col items-center justify-center gap-6 border border-black p-4"
      >
        <img
          class="w-[200px] h-[150px] md:w-[280px] md:h-[230px] object-fit"
          src="/public/vidsteduat/kurve.svg"
          alt=""
        />
        <p class="max-w-sm">
          På blot ét år (2007) blev der skabt en zettabyte data på verdensplan.
          I 2010 var dette tal fordoblet. I 2035 vil vi skabe mere end 2.000
          zettabytes.
        </p>
      </div>

      <!-- card 2 -->
      <div
        class="flex flex-col items-center justify-center gap-6 border border-black p-4"
      >
        <img
          class="w-[200px] h-[150px] md:w-[240px] md:h-[240px]object-fit"
          src="/public/vidsteduat/procent.svg"
          alt=""
        />
        <p class="max-w-sm">
          99% af data er blevet skabt inden for de sidste 10 år. Og 90% af al
          data bliver aldrig tilgået 3 måneder efter, at det er lagret.
        </p>
      </div>

      <!-- card 3 -->
      <div
        class="flex flex-col items-center justify-center gap-6 border border-black p-4"
      >
        <img
          class="w-[200px] h-[180px] md:w-[200px] md:h-[250px] object-fit"
          src="/public/vidsteduat/co2.svg"
          alt=""
        />
        <p class="max-w-sm">
          Internettet producerer mere end 900 millioner tons CO2 hvert år!
        </p>
      </div>

      <!-- card 4 -->
      <div
        class="flex flex-col items-center justify-center gap-6 border border-black p-4"
      >
        <img
          class="w-[200px] h-[180px] md:w-[200px] md:h-[250px] object-fit"
          src="/public/vidsteduat/2ton.svg"
          alt=""
        />
        <p class="max-w-sm">
          I 2022 blev omkring 70 millioner servere brugt til at lagre data. Hver
          forårsagede produktionen af 1–2 tons CO2. Det år blev omkring 20
          millioner af dem til e-affald.
        </p>
      </div>
    </div>
  </section>
</MainLayout>
