---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';

---
<MainLayout title="Digital skraldedag">
	<h1 class="text-3xl font-bold underline">hej</h1>

</MainLayout>