---
---
<div class="grid grid-cols-2 grid-rows-2 bg-slate-300">
<div><h5>step 1</h5><h4>På din smartphone</h4></div><img src="digitaloprydning/smartphone.webp" alt="pixel iphone">
<div class="col-span-3"><p>Slet apps, du sjældent eller aldrig bruger, da de spilder energi og lagerplads. Fjern gamle brugerkonti og data, du ikke har brugt i årevis. Det vil gøre din telefon hurtigere og forbedre batterilevetiden. Gennemgå dine fotos og videoer, og slet dubletter og unødvendige filer for at frigøre lagerplads.</p></div></div>