---
import Link from "../components/Link.astro";
---

<div class="lg:py-10 py-2">
  <div class="md:flex flex-row justify-between justify-items-center">
  <div class="lg:pb-15 pb-4 p-10">
    <h3>Digital skraldedag</h3>
    <h4>d. 15.09.25</h4>
  </div>
<div class="grid grid-cols-3 gap-14 lg:pb-15 pb-4 p-12">
  <div class="flex flex-col gap-2 items-center">
    <img class="w-[60px] h-[60px] lg:w-[80px] lg:h-[80px]" src="/footer/Menneske.png" alt="">
    <p>1,184,747 <br> deltagere </p>
  </div>
  <div class="flex flex-col gap-2 items-center">
    <img class="w-[60px] h-[60px] lg:w-[80px] lg:h-[80px]" src="/footer/DATA.png" alt="">
    <p>14.5 M GB <br> Data slettet </p>
  </div>
  <div class="flex flex-col gap-2 items-center">
    <img class="w-[60px] h-[60px] lg:w-[80px] lg:h-[80px]" src="/footer/Jorden.png" alt="">
    <p>3,625 TON CO2 <br>Forhindret årligt</p>
  </div>
</div>




  <!-- <section class="flex flex-row pb-15 p-10">
    <div class="flex flex-col"><h4>Inviter en ven</h4> <p class="align-middle">Del budskabet!</p></div>
    <svg class="h-24" id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 459.64 406.5">
    <defs>
      <style>
        .cls-1 {
          fill: #f9f6ee;
        }
      </style>
    </defs>
    <g id="Layer_1-2" data-name="Layer_1">
      <path class="cls-1" d="M459.64,150.23c-5.81.47-11.62.47-17.83.47v16.83h-40.01v18.01h-35.01v18.01h-36.01v18.01h-39.01v22.01h-18.01v17.01h-18.01v17.86h-16.86v-56.65h16.51v-35.85h-34.67v17.68h-40.01v18.01h-18.01v22.01h-17.01v17.01h-18.01v36.01h-18.01v35.01h-17.01v40.01h-22.01v34.81h-36.01v-16.8h-16.84v-17.66H0v-40.01h17.32v-35.01h17.01v-36.01h18.01v-39.01h18.01v-18.01h22.01v-18.01h17.01v-18.01h18.01v-17.01h18.01v-18.01h35.01v-22.01h40.01v-18.01h34.92v-35.01h-16.39V0h16.5v22.51h18.01v17.01h18.01v18.01h39.01v18.01h36.01v17.01h35.01v18.01h40.01v22.14h17.66c.47,5.69.47,11.38.47,17.53Z"/>
    </g>
  </svg></section>  -->
</div>
  <br />

  <div class="grid md:grid-cols-3 p-10 gap-9">
    <div class="md:justify-self-start">
      <h5>Let's Do It World NGO</h5>
      <p>Roosikrantshi 3, TALLINN 10110, Estonia <br />Reg. code - 80562203</p>
      <a href="mailto:digital@ldiw.com">digital@ldiw.com</a>
    </div>
    <div class="md:justify-self-center">
      <h5>Om os</h5>

      <Link size="text-mg" variant="footer" href="/hvordan">Blog</Link>

      <br />
      <Link size="text-mg" variant="footer" href="/hvordan"
        >Marketing Materials</Link
      >

      <br />
      <Link size="text-mg" variant="footer" href="/hvordan">Consititution</Link>

      <br />
      <Link size="text-mg" variant="footer" href="/hvordan"
        >Join the movement</Link
      >

      <br />
    </div>
    <div class="md:justify-self-center">
      <h5>Find os på</h5>
      <Link size="text-mg" variant="footer" href="/hvordan">X</Link>
      <br />
      <Link size="text-mg" variant="footer" href="/hvordan">LinkedIn</Link>
      <br />
      <Link size="text-mg" variant="footer" href="/hvordan">Instagram</Link>
      <br />
      <Link size="text-mg" variant="footer" href="/hvordan">Facebook</Link>
      <br />
      <Link size="text-mg" variant="footer" href="/hvordan">Tiktok</Link>
      <br />
    </div>
  </div>
</div>

<style>
  h3 {
    color: #f8f5ee;
  }
  h4 {
    color: #f8f5ee;
  }
  h5 {
    color: #f8f5ee;
  }
  p {
    color: #f8f5ee;
  }
  a {
    color: #f8f5ee;
  }
</style>
