---
import Banner from '../components/Banner.astro';
---
<div class="py-10">
<div class="pb-20 px-20">
    <h3>
        Digital skraldedag
    </h3>
    <h4>
        d. 15.09.25
    </h4>
</div>
<br>
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-1 justify-self-start px-20">
            <h5>
                Let's Do It World NGO
            </h5>
            <p>Roosikrantshi 3, TALLINN 10110, Estonia <br>Reg. code - 80562203</p>
            <a href="mailto:digital@ldiw.com">digital@ldiw.com</a>
        </div>
        <div class="col-span-1 justify-self-center">
            <h5>
                Om os
            </h5>
            <a href="#">Blog</a> <br>
            <a href="#">Marketing Materials</a> <br>
            <a href="#">Consititution</a> <br>
            <a href="#">Join the movement</a> <br>
        </div>
        <div class="col-span-1 justify-self-end px-20 text-right">
            <h5>
                Find os på
            </h5>
            <a href="#">X</a> <br>
            <a href="#">LinkedIn</a> <br>
            <a href="#">Instagram</a> <br>
            <a href="#">Facebook</a> <br>
            <a href="#">Tiktok</a> <br>
        </div>
    </div>
</div>

<style>
    h3{
        color: #f8f5ee;;
    }
    h4{
        color: #f8f5ee;;
    }
    h5{
        color: #f8f5ee;;
    }
    p{
        color: #f8f5ee;;
    }
    a{
        color: #f8f5ee;;
    }
</style>