---
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
---
<div
  x-data="{ showmenu: false }"
  class="px-10 py-8 fixed top-0 left-0 z-50 w-full bg-[#F8F5EE] shadow-sm lg:static lg:shadow-none"
>
  <!-- Desktop -->
  <div id="navbar" class="flex flex-row justify-between">
    <!-- Logo -->
    <div class="logo">
      <a href="/">
        <img
          class="w-[70px] h-[70px] object-cove"
          src="logo.webp"
          alt="Logo til digitalt skrald"
        />
      </a>
    </div>

    <!-- nav -->
    <nav id="desktopmenu" class="hidden lg:flex lg:flex-row lg:items-center gap-10">
        <ul class="flex flex-row gap-10">
          <li>
            <Link size="text-mg" variant="secondary" href="/hvordan">Hvordan</Link>
          </li>
          <li>
            <Link size="text-mg" variant="secondary" href="/bidrag">Del dit bidrag</Link>
          </li>
        </ul>
        <Link size="text-mg" variant="primary" href="/bidrag" class="ml-8">Del dit bidrag</Link>
        <!-- Dark mode knap? -->
      </nav>
    <button
      id="burgermenu"
      class="lg:hidden"
      x-on:click="showmenu = ! showmenu"
    >
      Menu
    </button>
  </div>

  <!-- mobile view -->
  <nav
    id="mobilmenu"
    class="flex flex-col pt-4 bg-[#F8F5EE] w-full md:hidden"
    x-show="showmenu"
    x-transition
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
  >
    <ul class="">
        <li class=""><Link size="text-mg" variant="secondary"  href="/hvordan">Hvordan</Link></li>
        <li class=""> <Link size="text-mg" variant="secondary"  href="/bidrag">Del dit bidrag</Link></li>
      </ul>
  </nav>
</div>
