---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant="primary", size="small"} = Astro.props; 
 
//definere den stilling (Tailwind classes) der gør sig gældende fra alle knapper
const linkStylling = "";

// definere den stilling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
    "primary": "px-4 py-1 bg-[#E7639B] rounded-2xl border  text-[#F8F5EE] hover:bg-[#F8F5EE] hover:text-[#E7639B] hover:border-[#E7639B] " ,
    "secondary": "underline hover:opacity-50",
    "footer": "text-[#F8F5EE] underline hover:opacity-50"
};

//definere den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser
const sizeClasses = {
   "small": "text-sm",
    "medium": "text-mg",
    "large": "text-lg"
};
---

<a href={href} target={target} class:list={[linkStylling ,variantClasses[variant] ,sizeClasses[size]]}>
    <slot />
</a>